<div class="container">
<div class="col-md-8">
  <h1 class="display-2">Job Offers</h1>
  <table class="table table-stripped">
    <thead>
    <tr class="row">
        <th class="header">Title</th>
        <th class="header">Hours</th>
        <th class="header">Payment Fee</th>
        <th class="header">Date</th>
        <th class="header">Time</th>
        <th class="header"></th>
    </tr>
    </thead>
    <tr class="row" *ngFor="let j of jobs">
      <td>{{j.name}}</td>
      <td>{{j.duration}}</td>
      <td>{{j.hourFee}}</td>
      <td>{{j.preferDate}}</td>
      <td>{{j.preferTime}}</td>
     <td><a [routerLink]="['details']" class="btn btn-primary" (click)="select(j._id)">Details</a></td>
    </tr>
  </table>
</div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>