<div class="col-md-8"> 
<form class="form bordered" (ngSubmit)="apply(id)">
      <label class="control-label">Title:</label><input type="text" class="form-control" value="{{name}}" disabled/>
      <label class="control-label">Description:</label><textarea class="form-control" cols="8" rows="4" value="{{description}}"> </textarea>
      <label class="control-label">Hours:</label><input type="text" class="form-control" value="{{duration}}" disabled/><label class="control-label">Hour Fee:</label><input type="text" class="form-control" value="{{fee}}" disabled/>
      <label class="control-label">Date:</label><input type="text" class="form-control" value="{{date}} {{time}}" disabled/>
      <input type="hidden" name="id" value="{{id}}"/>
      <input type="submit" class="btn btn-primary" value="Apply"/>
</form>
</div>
